body {

    display: flex;
    flex-wrap: nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

nav {

    text-align: center;
    min-width: 11%;

    a {            
        
        color: inherit;
        text-decoration: none;
    
    }

}

.logo {

    font-size: 7rem;
    padding: 21px;

}

.pages {
    
    font-size: 1.2rem;

    ul {

        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 100px 0 0 0;
        margin:0;

    }

    li {

        list-style: none;
        margin: 20px 20px 45px 20px;

        a {

            white-space: nowrap;
            padding-bottom: 7px;
            border-bottom: 1px solid black;

        }

    }

}

.pm {

    padding: 10px 0 10px 0;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;

}

.social {

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 20px;

}

header {

    background-image: url("bigdebug.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
    padding: 20% 0 20% 0;
    border-left: 1px solid black;

}

.content {

    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    border-left: 1px solid black;

}

.grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h2 {

        font-size: 2.2rem;

    }

}

section {

    padding: 2%;

}

.debugimg {

    background-image: url("debug.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
    padding: 37% 0 37% 0;
    border-radius: 2%;

}

footer {

    display: flex;
    flex-wrap: nowrap;

}

.getintouch {

    min-width: 24%;
    max-width: 24%;
    padding-left: 0.5%;

    h2 {

        font-size: 2.2rem;

    }

    h3 {

        font-size: 1.25rem;

    }

    p {

        font-size: 0.95rem;

    }

    .phone-number {

        font-size: 1.65rem;

    }

}

.form-container {

    min-width: 69%;
    padding-left: 6%;

    div {

        padding: 5px;

    }

    div.name-input {

        min-width: 50%;
        padding: 0px;

    }

}

input {

    min-width: 100%;

}

.name-section {

    display: flex;
    flex-wrap: nowrap;

}


.backtop {

    text-align: center;

}









